<div class="containter">
  <div class="container text-center">
    <% gifs = ['http://collegecandy.files.wordpress.com/2013/06/1313494405_kitchen_acrobatics_fail.gif',
               'http://gifs.gifbin.com/032011/1299607635_seesaw-fail.gif',
               'http://www.totalprosports.com/wp-content/uploads/2013/04/first-pitch-fail-baseball-fail-gifs.gif',
               'http://media3.giphy.com/media/10H8p7oa4LUSB2/200.gif',
               'http://media0.giphy.com/media/bJAi9R0WWOohO/200.gif',
               'http://media1.giphy.com/media/KYXWGxC3gcCpq/200.gif',
               'http://media1.giphy.com/media/14sl8560pYiHWU/original.gif',
               'http://media1.giphy.com/media/6E0QCowXB4D6w/200.gif',
               'http://media.giphy.com/media/6sSDaF3irOFOw/200.gif'] %>
               <h1><a href="http://vaynermedia.com#careers" style="text-decoration: none">Y U NO WERK AT Vayner?</a></h1>
    <br>
  <% for g in gifs do %>
  <img src=<%= g  %> class="img-thumbnail">
  <% end %>
  </div>
</div>
