<% if current_user %>
  <% posts_path %>
<% else %>

<br>
<div class="jumbotron">
  <div class="containter text-center">
    <p><h1>Welcome to Taglandia!</h1></p>
    <p><h2>Authenticate below to start tagging posts for your brands!</h2></p>
    <br>
    <a class="btn btn-lg btn-success" href=[PROPRIETARY :)] style="text-decoration: none">Authenticate yo' self!</a></div>
  </div>
</div>

<% end %>
